/*....................................SCSS VARIABLES..................................*/

// @font-face {
//     font-family: neutralbold;
//     src: url('../assets/fonts/NeutralStd-Bold.ttf') format('truetype');
//     // , url('/assets/fonts/didot/Didot.otf') format('otf')
// }
//
// @font-face {
//     font-family: neutralreg;
//     src: url('../assets/fonts/NeutralStd-Regular.ttf') format('truetype');
//     // , url('/assets/fonts/didot/Didot.otf') format('otf')
// }

// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 900;


// ........................................................FONT SIZES
$font-size-h1:85px;
$font-size-h2:52px;
$font-size-h3:36px;
$font-size-h4: 20px;
$font-size-p: 12px;

$font-size-h1-mobile: 25px;
$font-size-h2-mobile: 20px;
$font-size-h3-mobile: 18px;
$font-size-h4-mobile: 16px;
$font-size-p-mobile: 12px;

// ........................................................FONT FAMILIES
$font-family-h1: helvetica, sans-serif;
$font-family-h2: helvetica, sans-serif;
$font-family-h3: helvetica, sans-serif;
$font-family-h4: helvetica, sans-serif;
$font-family-p: helvetica, sans-serif;



// ........................................................FONT LINEHEIGHTS
$line-height-h1: 110px;
$line-height-h2: 65px;
$line-height-h3: 45px;
$line-height-h4: 20px;
$line-height-p: 26px;

$line-height-h1-mobile: 40px;
$line-height-h2-mobile: 36px;
$line-height-h3-mobile: 20px;
$line-height-h4-mobile: 20px;
$line-height-p-mobile: 17px;


$letter-spacing: 1px;
$letter-spacing-h1: 2px;
$letter-spacing-h2: 0px;
$letter-spacing-h3: 1px;
$letter-spacing-h4: 1px;
$letter-spacing-paragraph:1px;


// ........................................................COLORS
$black: #000000;
$white: #FFFFFF;
$yellow: #ede611;
$green: #00FF00;
$red:#FF0000;
$pink:#f7c0cd;
$grey:#e2e2e2;
$light-grey:#F5F5F5;
$dark-grey: #585858;

// ........................................................MARGINS
$margin-sides: 25px;
$margin-bottom: 35px;
$margin-top: 150px;
$margin-sides-mobile:10px;
$margin-left-paragraph:5px;
$margin-top-li:100px;
$margin-top-p:20px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................Z-INDEXES
$z-loader:15;
$z-pop:14;
$z-nav:13;
$z-share:13;

$z-clickOut: 12;
$z-credits:8;
$z-feed:7;

$z-detail-li:4;
$z-detail-cover:3;



$z-logo:0;


// ........................................................ELEMENT HEIGHTS
$nav-height: 100px;



/*....................................................................................*/
