/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
/*.................................................................................*/
/*$break-large-desktop: 2500px;*/
/*$break-infinite: 500000px;*/
/*....................................SCSS MIXINS..................................*/
.toggle-wrap {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 1000; }
  .toggle-wrap .toggle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid grey; }
  .toggle-wrap .black {
    background-color: #121212;
    margin-bottom: 0.75em; }
  .toggle-wrap .white {
    background-color: white; }

@media screen and (max-width: 767px) {
  .toggle-wrap {
    display: none;
    left: 15px; } }
