@import "variables";

.main {
  font: 16px / 1 Arial;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  z-index: 1000;
  background-color: #121212;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 2em;
  position: relative;
  z-index: $z-nav;
}

.black {
  .button {
    background-color: white;
  }
}

.black {
  .counter {
    p {
      color: white;
    }
  }
}

.carousel--image {
  width: 70vw;
  height: 70vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;

  .img-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  div {
    max-height: 100%;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }

  span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  span > img {
    max-width: 100%;
    max-height: 100%;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: 5em;
  overflow: hidden;

  &--image {
    border: 1px solid #fff;
    position: relative;
  }
}

.listWrap {
  padding-top: 100px;
  img {
    display: block;
    width: 100%;
    padding: 5px;
  }
}
