/*....................................SCSS VARIABLES..................................*/
/*....................................................................................*/
.main {
  font: 16px / 1 Arial;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.button {
  z-index: 1000;
  background-color: #121212;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 2em;
  position: relative;
  z-index: 13; }

.black .button {
  background-color: white; }

.black .counter p {
  color: white; }

.carousel--image {
  width: 70vw;
  height: 70vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  .carousel--image .img-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%; }
  .carousel--image div {
    max-height: 100%;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%; }
  .carousel--image span {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .carousel--image img {
    max-width: 100%;
    max-height: 100%; }
  .carousel--image span > img {
    max-width: 100%;
    max-height: 100%; }

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0px;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: 5em;
  overflow: hidden; }
  .carousel--image {
    border: 1px solid #fff;
    position: relative; }

.listWrap {
  padding-top: 100px; }
  .listWrap img {
    display: block;
    width: 100%;
    padding: 5px; }
